@using HallOfFame.Web.Areas.Administration.ViewModels.Categories
@using HallOfFame.Web.Common
@using HallOfFame.Web.Infrastructure.Helpers.Html
@{
    const string ControllerName = ControllerNames.Categories;
    ViewBag.Title = ControllerName;
}

<h1 class="text-center">@ViewBag.Title</h1>

@(Html.FullFeaturedGrid<CategoryViewModel>(ControllerName, m => m.Id, cols =>
      {
          cols.Bound(m => m.Id);
          cols.Bound(m => m.Name);
          cols.Bound(m => m.Description);
          cols.Bound(m => m.CreatedOn).Hidden();
          cols.Bound(m => m.ModifiedOn).Hidden();
          cols.Command(c => c.Edit());
          cols.Command(c => c.Destroy());
      },
          data => data.Ajax()
                    .Model(m => m.Id(model => model.Id))
                    .Read(read => read.Action("Read", ControllerName))
                    .Create(create => create.Action("Create", ControllerName))
                    .Update(update => update.Action("Update", ControllerName))
                    .Destroy(destroy => destroy.Action("Destroy", ControllerName))
))