body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    /* Body background (image) */
    background-image: url("../Img/background.jpg");
    -moz-background-position-x: 50%;
    -o-background-position-x: 50%;
    background-position-x: 50%;
    -moz-background-position-y: 0;
    -o-background-position-y: 0;
    background-position-y: 0;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    -ms-background-origin: initial;
    -moz-background-origin: initial;
    -webkit-background-origin: initial;
    background-origin: initial;
    -ms-background-clip: initial;
    -moz-background-clip: initial;
    -webkit-background-clip: initial;
    background-clip: initial;
    background-color: rgb(18, 21, 100);
    color: white;
}

.k-widget.k-window {
    width: 500px;
    height: 500px;
}

a .fa {
    color: white;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 65%;
}


a {
    color: #fdcef8;
    text-decoration: none;
}

    a:hover {
        color: #fb9df1;
        text-decoration: none;
    }

.search-form {
    line-height: 16px;
}

/* Transparent background */
.content-block {
    background: #000000;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-top: 1px solid #414383;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid #ffffff;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

hr {
    margin: 10px 0;
}

.vcard-details {
    list-style: none;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.vcard-detail {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}

    .vcard-detail .fa {
        /* float: left;*/
        width: 20px;
        text-align: center;
    }

    .vcard-detail .telerik {
        width: 20px;
    }

    .vcard-social .git {
        /* color: black;*/
        color: #eee;
        cursor: pointer;
        margin-left: 5px;
    }

    .vcard-social .twitter {
        color: #19C4FF;
        cursor: pointer;
        margin-left: 10px;
    }

    .vcard-social .google-plus {
        color: #DD4B39;
        cursor: pointer;
        margin-left: 10px;
    }

    .vcard-social .facebook {
        color: #007BB6;
        cursor: pointer;
        margin-left: 10px;
    }

    .vcard-social .linkedin {
        color: #007BB6;
        cursor: pointer;
        margin-left: 10px;
    }

    .vcard-social .skype {
        color: #12A5F4;
        cursor: pointer;
        margin-left: 5px;
    }
/*
 Footer styles
*/

.footer {
    margin-top: 40px;
    padding: 0 30px 30px 30px;
    /*background: #000 url('../Img/stressed_linen.png') repeat;
    background-color: transparent;*/
    background: #000000;
    background: rgba(0,0,0,0.8);
}

    .footer .footer-head {
        color: #fff;
        margin-top: -10px;
    }

        .footer .footer-head .item {
            list-style-type: none;
            padding-left: 0;
            width: 100%;
        }

            .footer .footer-head .item li {
                display: block;
                float: left;
                width: 33.3%;
                padding: 25px 20px;
            }

                .footer .footer-head .item li h3 {
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: 23px;
                    letter-spacing: 0.02em;
                }

                    .footer .footer-head .item li h3 a {
                        display: inline-block;
                        color: #fff;
                    }

                        .footer .footer-head .item li h3 a i {
                            display: inline-block;
                            width: 20px;
                            text-align: center;
                        }

                .footer .footer-head .item li p {
                    font-size: 13px;
                    margin-left: 35px;
                }

    .footer .footer-widget {
        margin: 0 20px;
        padding-top: 30px;
        color: #ccc;
    }

        .footer .footer-widget h4 {
            padding-bottom: 10px;
            margin-bottom: 10px;
            color: #fff;
            border-bottom: 1px solid #222;
        }

        .footer .footer-widget ul {
            list-style-type: none;
            padding-left: 0;
        }

            .footer .footer-widget ul li {
                padding-bottom: 10px;
            }

        .footer .footer-widget p .mute {
            font-weight: normal;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #b5b5b5;
        }

        .footer .footer-widget ul li a,
        .footer .footer-widget p a,
        .footer .footer-widget .footer-rp .item h3 a,
        .footer .copy p a,
        .footer .copy a {
            color: #aaa;
        }

            .footer .footer-widget ul li a:hover,
            .footer .footer-widget p a:hover,
            .footer .footer-widget .footer-rp .item h3 a:hover,
            .footer .copy p a:hover,
            .footer .copy a:hover {
                color: #eee;
            }

        .footer .footer-widget span {
            font-size: 17px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 700;
        }

        .footer .footer-widget p {
            font-size: 13px;
        }

        .footer .footer-widget .footer-rp {
            margin-bottom: 20px;
        }

            .footer .footer-widget .footer-rp img {
                max-width: 35px;
            }

            .footer .footer-widget .footer-rp .item {
                margin-top: -30px;
                margin-left: 40px;
                padding-left: 10px;
            }

                .footer .footer-widget .footer-rp .item h3 {
                    font-family: 'Open Sans', sans-serif;
                    margin: 0;
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: normal;
                    font-style: italic;
                }

    .footer .copy {
        margin-top: 15px;
        padding-top: 25px;
        text-align: center;
        color: #ccc;
        border-top: 1px solid #222;
    }


    .footer .contact input[type="text"], .footer .contact input[type="email"], .footer .contact input[type="tel"], .footer .contact textarea {
        border: none;
        /*background-color: #1f1f21;*/
        color: #000000;
        padding: 8px 20px;
        border-radius: 3px;
        font-size: 14px;
        width: 95%;
        -webkit-transition: background-color .2s linear;
        -moz-transition: background-color .2s linear;
        margin-bottom: 10px;
    }

    .footer .social a .fa{
        color: white;
        text-decoration: none;
    }

    .footer .social a.google-plus .fa {
        color: #DD4B39;
    }

    .footer .social a.facebook .fa {
        color: #3b5998;
    }

    .footer .social a:hover .fa {
        color: #eee;
        text-decoration: none;
    }


/* Main carousel style */
.carousel {
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
    /* Indicators list style */
    .article-slide .carousel-indicators li {
        border: medium none;
        border-radius: 0;
        float: left;
        height: 54px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 5px !important;
        margin-top: 0;
        width: 100px;
    }
    /* Indicators images style */
    .article-slide .carousel-indicators img {
        border: 2px solid #FFFFFF;
        float: left;
        height: 54px;
        left: 0;
        width: 100px;
    }
    /* Indicators active image style */
    .article-slide .carousel-indicators .active img {
        border: 2px solid #428BCA;
        opacity: 0.7;
    }


/* Search */

#search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0, -100%) scale(0, 0);
    -moz-transform: translate(0, -100%) scale(0, 0);
    -o-transform: translate(0, -100%) scale(0, 0);
    -ms-transform: translate(0, -100%) scale(0, 0);
    transform: translate(0, -100%) scale(0, 0);
    opacity: 0;
}

#search.open {
        -webkit-transform: translate(0, 0) scale(1, 1);
        -moz-transform: translate(0, 0) scale(1, 1);
        -o-transform: translate(0, 0) scale(1, 1);
        -ms-transform: translate(0, 0) scale(1, 1);
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
    }

    #search input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        max-width: 100%;
        color: rgb(255, 255, 255);
        background: #000000;
        background: rgba(0, 0, 0, 0);
        font-size: 60px;
        font-weight: 300;
        text-align: center;
        border: 0;
        margin: 0 auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

#search .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }

    #search .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        opacity: 1;
        padding: 10px 17px;
        font-size: 27px;
    }
