@model List<HallOfFame.Web.Areas.Projects.ViewModels.ProjectInfoViewModel>

<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-3 col-md-offset-1">
            @Html.Partial("_ProjectInfoPartial", project)
        </div>
    }
</div>
