@model IQueryable<HallOfFame.Web.ViewModels.Comments.CommentViewModel>

@foreach (var comment in Model)
{
    @Html.Partial("_CommentDetail", comment)
}

<script>
    function hideViewCommentsButton() {
        $('#show-comments-btn').hide();
        $('#new-comment').removeClass('hidden');
    }

    function ClearInput() {
        $('#input-comment').val('');
    }

    function showCommentRequiredError(data) {
        if (data.responseJSON) {
            $('<h3 style="color:red">' + data.responseJSON.Error + '</h3>').prependTo('#new-comment').delay(3000).fadeOut();
        }
    }
</script>
