@using HallOfFame.Web.Areas.Administration.ViewModels.Categories
@using HallOfFame.Web.Infrastructure.Helpers.Html
@{
    const string ControllerName = "Categories";
    ViewBag.Title = ControllerName;
}

<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<CategoryViewModel>(ControllerName, m => m.Id))